asarPy==1.0.1
asgiref==3.8.1
certifi==2026.1.4
charset-normalizer==3.4.4
cloudinary==1.44.1
dj-database-url==3.0.0
Django==5.2.3
django-cloudinary-storage==0.3.0
django-robots==6.1
idna==3.11
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.6.3
