{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Alpine.js for interactivity -->
    <script defer src="{% static 'js/alpine.js' %}"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/raihanstack/Django_Shop_783827/3b43c00ddeff95526cf8e509b68afb7efb7f6a77/static/img/logo.svg" type="image/x-icon">

    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> 

    <!-- Custom CSS (Tailwind CSS) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Meta Description (can be customized per page) -->
    {% block meta_description %}{% endblock %}

    <!-- Custom head content (e.g., fonts, scripts) -->
    {% block head %}{% endblock %}

    <!-- Custom styles -->
    {% block style %}{% endblock %}
</head>
<body>

    <!-- Main content area -->
    {% block content %}{% endblock %}

    <!-- Optional: Loading JS or other functionalities -->
    <script src="{% static 'js/loading.js' %}"></script>

</body>
</html>
