{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}

    <div>
        <div class="spinner"></div>
        <div id='main-content' style="display: none;">
            {% include "partials/header_top.html" %}
            {% include "partials/header.html" %}
            {% include "partials/alert.html" %}
            <main class="text-gray-700 max-w-7xl mx-auto px-4 md:py-8 py-4">
                {% block main_content %}
                <!-- Main content goes here -->
                {% endblock main_content %}
            </main>
            {% include "partials/footer.html" %}
        </div>
    </div>
    
{% endblock content %}