{% extends "layout.html" %}

{% block main_content %}
<section class="px-4 my-10 mt-20">
    <div class="flex flex-col items-center">
        <p class="text-3xl font-bold text-center text-green-600">We Accepted Your Order!</p>
        
        <div class="text-center">
            <!-- Checkmark SVG Icon -->
            <svg fill="none" stroke="currentColor" stroke-width="1.5"
                class="h-[60px] mx-auto my-3 text-green-500 w-[60px]" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12z">
                </path>
            </svg>
            
            <!-- Confirmation Text -->
            <p class="text-xl font-medium text-center text-gray-800">Thank you for your order!</p>
            
            <div class="pt-2 pb-1">
                <p>Your order number is <span class="font-semibold text-black">{{ order.order_number }}</span></p>
            </div>
            
            <p class="text-gray-600">You can contact us if you have any questions!</p>
            
            <!-- Continue Shopping Button -->
            <div class="mt-10">
                <a href="{% url 'products' %}" class="px-5 py-3 text-white bg-black rounded-full hover:bg-gray-800">
                    Continue Shopping
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}
